*{
    box-sizing: border-box;
    width: fit-content;
}
body{
    background-color: black;
}
li{
    list-style: none;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.inicio{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
.logo{
    height: 80px;
    width: 120px;
}
.menu{
    display: flex;
    flex-direction: column;
    margin: 30px 30px 30px 30px;
    width: 130px;
}
section{
    color: white;
}
.todo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
}
.ultimo{
    justify-content: center;
    list-style: symbols();
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center ;
    justify-items: center;
    background-color: rgba(200, 0, 0, 0.169); 
    border-top-right-radius: 300px;
    border-top-left-radius: 300px;
    padding: 20px;
    padding-bottom: 20px;
}
.nombres{
    display: block;
    padding-top: 15px;
    text-align: center;
    align-items: center;
    align-content: center;
    word-spacing: 2cm;
}
.img{
    height: 150;
    width: 200px;
}