li{
    list-style: none;
}
.body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Rowdies', cursive;

}


  
.header{
    font-family: 'Rowdies', cursive;
    text-align: center;
    color: burlywood;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.nav a{
padding: 10px 30px;
text-decoration: none;
}


.form{
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
}
.logo-ringomusic{
    width: 250px;
    height: 125px;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.search{
    background-color: grey;
    color: black;
    height: 20px;
    padding: 8px;
    border-radius: 20px;
    border: 2px solid black;
}
.buscadortexto{
    border: none;
    background-color: none;
    outline: none;
    font-size: 15px;
}
input.buscadortexto{
    background-color: grey;
    color: white;
}
::placeholder{
    color: white;
}
a:link{
color: burlywood;
}
a:visited{
    color: burlywood;   
}
.CancionTitulo{
    color: burlywood;
    font-family: 'Rowdies', cursive;
}
.canciones{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   justify-content: space-between;
}
.cancionbox{
    color: burlywood;
    background-color: rgba(222, 184, 135, 0.152);
    padding: 15px;
    margin: 15px;
    border: 3px solid rgb(195, 159, 111);
    text-align: center;
    font-family: 'Rowdies', cursive;
}
.CoverCancion{
    height: 180px;
    width: 180px;
}

.ArtistasTitulo{
    color: burlywood;
    font-family: 'Rowdies', cursive;
}
.artistas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   justify-content: space-between;
}
.artistasbox{
    color: burlywood;
    background-color:  rgba(222, 184, 135, 0.152);
    padding: 15px;
    margin: 15px;
    border: 3px solid  rgb(195, 159, 111);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.CoverArtistas{
    height: 180px;
    width: 180px;
}
.AlbumesTitulo{
    color: burlywood;
    font-family: 'Rowdies', cursive;
}
.albumes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   justify-content: space-between;
}
.albumesbox{
    color: burlywood;
    background-color:  rgba(222, 184, 135, 0.152);
    padding: 15px;
    margin: 15px;
    border: 3px solid  rgb(195, 159, 111);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.CoverAlbumes{
    height: 180px;
    width: 180px;
}
.footer{
    color: burlywood;
    font-family: 'Rowdies', cursive;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo-footer{
    height: 80px;
    width: 150px;
}
.p-footer{
    font-size: small;
}
.titulogen{
    color: burlywood;
align-items: center;
}
.genero{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.titulogart{
    color: burlywood;
    align-items: center;
    }
.artista{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
@media (max-width: 600px){

}
@media (min-width: 601px){
    
}
.dark-mode {
    background-color: #000000;
    color: white;
    padding-top: 5px;
    border-radius: 60px; 
  }
.modonoche{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.tituloModonoche{
    padding: 10px 10px 10px 10px;
    margin: 10px;
}