*{
    box-sizing: border-box;
    width: fit-content;
}
li{
    list-style: none;
}
body{
    background-image: url(../img/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.header{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: burlywood;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.footer{
    color: burlywood;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo-footer{
    height: 90px;
    width: 170px;
}
.p-footer{
    font-size: small;
}
.header{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: burlywood;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.nav{
padding: 10px 30px;
text-decoration: none;
}
.form{
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.titulo-Ringo{
    margin-right: 75px;
}
.logo-ringomusic{
    width: 250px;
    height: 120px;
    align-items: center;
    padding-bottom: 25px;
}
.search{
    background-color: grey;
    color: black;
    height: 20px;
    padding: 8px;
    border-radius: 20px;
}
.buscador-texto{
    border: none;
    background-color: none;
    outline: none;
    color: black;
    font-size: 15px;
}
a:link{
color: burlywood;
}
a:visited{
    color: burlywood;   
}

.menu{
    display: flex;
    flex-direction: column;
    margin: 30px 30px 30px 30px;
    width: 130px;
}

ul-menu{
    float: right;
}

section{
    color: white;
}
.todo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
}
.ultimo{
    justify-content: center;
    list-style: symbols();
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center ;
    justify-items: center;
    background-color: rgba(200, 0, 0, 0.169); 
    border-top-right-radius: 300px;
    border-top-left-radius: 300px;
    padding: 20px;
    padding-bottom: 20px;
}
.nombres{
    display: block;
    padding-top: 15px;
    text-align: center;
    align-items: center;
    align-content: center;
    margin-left: 5px;
    margin-right: 5px;
}
.img{
    height: 150;
    width: 200px;
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#modo-oscuro{
    background-image: url(../img/logodarkmode.png);
}